<div *ngIf="model" style="margin-top:20px" class="col-sm-6">
        <form (ngSubmit)="onUserSubmit($event)" #userForm="ngForm">
            <div><label>Id: {{model.id}}</label></div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       required
                       [(ngModel)]="model.name"
                       name="name">
            </div>
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="text"
                       class="form-control"
                       id="phone"
                       [(ngModel)]="model.phone"
                       name="phone">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       [(ngModel)]="model.email"
                       name="email">
            </div>
            <div class="form-group">
                <input type="checkbox"
                       [(ngModel)]="model.isActive"
                       name="active">
                <label>Is Active</label>
            </div>
            <div class="form-group">
                <input type="checkbox"
                       [(ngModel)]="model.isAdmin"
                       name="admin">
                <label>Is Admin</label>
            </div>
            <div class="form-group">

                <input type="checkbox"
                       [(ngModel)]="model.isTeacher"
                       name="teacher">
                <label>Is Teacher</label>
            </div>
            

            <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-default">Save changes</button>
            <button (click)="onUserDelete()" class="btn btn-default" type="button">Delete user</button>
        </form>

        <div style="margin-top:20px">
            <label>Groups</label>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th><button (click)="addingGroup = true" 
                                    class="btn btn-default" 
                                    type="button">Add Group</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="addingGroup">
                         <td colspan="3">
                            <select class="form-control" [(ngModel)]="selectedGroup">
                                <option *ngFor="let group of allGroups" [ngValue]="group">{{group.name}}</option>
                            </select>
                         </td>
                         <td>
                            <button (click)="addGroup()" class="btn btn-default" type="button">Add</button>
                        </td>
                    </tr>
                    <tr *ngFor="let group of model.groups">
                        <td>{{group.id}}</td>
                        <td>{{group.name}}</td>
                        <td>{{group.description}}</td>
                        <td><button (click)="showDetails(group.id)" 
                                    class="btn btn-default" 
                                    type="button">Show Details</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
