<button (click)="goBack()">Back</button>
<div *ngIf="model">
        <div><label>Id: {{model.id}}</label></div>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div>
                <label>Name</label>
                <input type="text"
                       required
                       [(ngModel)]="model.name"
                       name="name">
            </div>
            <div>
                <label>Phone number</label>
                <input type="text"
                       [(ngModel)]="model.phone"
                       name="phone">
            </div>
            <div>
                <label>Email</label>
                <input type="text"
                       [(ngModel)]="model.email"
                       name="email">
            </div>
            <div>
                <label>Is Active</label>
                <input type="checkbox" [(ngModel)]="model.active"
                       name="active">
            </div>
            <div>
                <label>Is Admin</label>
                <input type="checkbox" [(ngModel)]="model.isAdmin"
                       name="admin">
            </div>
            <div>
                <label>Is Teacher</label>
                <input type="checkbox" [(ngModel)]="model.isTeacher"
                       name="teacher">
            </div>
            <button type="submit" [disabled]="!userForm.form.valid">Save</button>
        </form>
    <button (click)="delete()">Delete</button>
</div>
