<button (click)="goBack()" class="btn btn-default">Back</button>
<div *ngIf="model" style="margin-top:20px">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="col-sm-6">
            <div><label>Id: {{model.id}}</label></div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       required
                       [(ngModel)]="model.name"
                       name="name">
            </div>
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="text"
                       class="form-control"
                       id="phone"
                       [(ngModel)]="model.phone"
                       name="phone">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       [(ngModel)]="model.email"
                       name="email">
            </div>
            <div class="form-group">
                <input type="checkbox"
                       [(ngModel)]="model.isActive"
                       name="active">
                <label>Is Active</label>
            </div>
            <div class="form-group">
                <input type="checkbox"
                       [(ngModel)]="model.isAdmin"
                       name="admin">
                <label>Is Admin</label>
            </div>
            <div class="form-group">

                <input type="checkbox"
                       [(ngModel)]="model.isTeacher"
                       name="teacher">
                <label>Is Teacher</label>
            </div>
            <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-default">Save changes</button>
            <button (click)="delete()" class="btn btn-default">Delete user</button>
        </form>
</div>
