<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th><button (click)="addTeacher()" 
                        class="btn btn-default"
                        type="button">Add</button></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let teacher of teachers">
            <td>{{teacher.id}}</td>
            <td>{{teacher.name}}</td>
            <td><button (click)="showTeacherDetails(teacher.id)" 
                        class="btn btn-default"
                        type="button">Show Details</button>
        </tr>
    </tbody>
</table>

