<div *ngIf="model" style="margin-top:20px">
    <div>
        <label>Id: {{model.id}}</label><br>
        <label>Name: {{model.name}}</label><br>
        <button (click)="showUserInfo()"
                class="btn btn-default"
                type="button">Show User Info</button>
    </div>

    <div style="margin-top:20px">
        <label>Groups</label>

        <form *ngIf="addingGroup" (ngSubmit)="onGroupAdd()" #teacherGroupForm="ngForm">
            <div class="form-group">
                <select class="form-control"
                        [(ngModel)]="selectedGroup"
                        required
                        #group="ngModel" name="group">
                    <option *ngFor="let group of allGroups" [ngValue]="group">{{group.id}} - {{group.name}}</option>
                </select>
                <form-validation [model]="group" [fieldName]="'Group'"></form-validation>
            </div>
            <button class="btn btn-default" type="submit" [disabled]="!teacherGroupForm.form.valid">Add</button>
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>
                        <button (click)="addingGroup = true"
                                class="btn btn-default"
                                type="button">
                            Add Group
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of model.groups">
                    <td>{{group.id}}</td>
                    <td>{{group.name}}</td>
                    <td>{{group.description}}</td>
                    <td>
                        <button (click)="showDetails(group.id)"
                                class="btn btn-default"
                                type="button">
                            Show Details
                        </button>
                    </td>
                    <td>
                        <button (click)="onGroupRemove(group.id)"
                                class="btn btn-default"
                                type="button">
                            Remove Group
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button (click)="deleteTeacher()"
            class="btn btn-default"
            type="button">
        Delete Teacher
    </button>
</div>
