<div *ngIf="model" style="margin-top:20px" class="col-sm-6">
        <div><label>Id: {{model.id}}</label></div>
        <div><label>Name: {{model.name}}</label></div>

        <div style="margin-top:20px">
            <label>Groups</label>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th><button (click)="addingGroup = true" 
                                    class="btn btn-default" 
                                    type="button">Add Group</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="addingGroup">
                         <td colspan="3">
                            <select class="form-control" [ngModel] ="selectedGroup" (ngModelChange) ="onGroupAdd($event)">
                                <option *ngFor="let group of allGroups" [ngValue]="group">
                                    {{group.id}} - {{group.name}}
                                </option>
                            </select>
                         </td>
                    </tr>
                    <tr *ngFor="let group of model.groups">
                        <td>{{group.id}}</td>
                        <td>{{group.name}}</td>
                        <td>{{group.description}}</td>
                        <td><button (click)="showDetails(group.id)" 
                                    class="btn btn-default" 
                                    type="button">Show Details</button></td>
                        <td><button (click)="removeGroup(group.id)"
                                    class="btn btn-default"
                                    type="button">Leave Group</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
