<div class="form-group">
    <label for="user">User</label>
    <select class="form-control" [(ngModel)]="selectedUser">
        <option *ngFor="let user of allUsers" [ngValue]="user">{{user.name}}</option>
    </select>
</div>
<div class="form-group">
    <label for="user">Add Group</label>
    <select class="form-control" [ngModel] ="selectedGroup" (ngModelChange) ="onGroupAdd($event)">
        <option *ngFor="let group of allGroups" [ngValue]="group">{{group.id}} - {{group.name}}</option>
    </select>
</div>

<div *ngIf="selectedUser">
    <label>{{selectedUser.id}}</label>
    <label>{{selectedUser.name}}</label>
</div>
<div *ngIf="allSelectedGroups">
    <ul>
        <li *ngFor="let group of allSelectedGroups">{{group.id}} - {{group.name}}</li>
    </ul>
</div>

<button (click)="onTeacherSave()" type="submit" [disabled]="!selectedUser" class="btn btn-default">Submit</button>
<button (click)="onTeacherCancel()" class="btn btn-default" type="button">Cancel</button>
