<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="margin:5px">
        <div class="navbar-header">
            <div class="navbar-brand">DanceSchool</div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/users">Users</a></li>
                <li><a routerLink="/groups">Groups</a></li>
                <li><a routerLink="/teachers">Teachers</a></li>
                <li><a>Payments</a></li>
            </ul>
        </div>
        <error [errorMessage]="errorMessage$ | async"></error>
    </div>
</nav>
<div style="margin:70px 20px 0px 20px">
    <router-outlet></router-outlet>
</div>
