<table *ngIf="!selectedUser">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Status</th>
        <th><button (click)="addUser()">Add</button></th>
    </tr> 
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td>{{user.active}}</td>
        <td><button (click)="showDetails(user)">Show Details</button></td>
     </tr>
</table>

<div *ngIf="selectedUser">
    <button (click)="goToList()">Back</button>
    <user-detail [user] ="selectedUser" (userDeleted)="delete($event)"></user-detail>
</div>
