<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th><button (click)="addGroup()">Add</button></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let group of groups">
            <td>{{group.id}}</td>
            <td>{{group.name}}</td>
            <td>{{group.description}}</td>
            <td>{{group.isActive}}</td>
            <td><button (click)="showDetails(group.id)">Show Details</button></td>
            <!--<td><a [routerLink]="['/detail', user.id]">Show Details</a></td>-->
        </tr>
     </tbody>
</table>