<div class="col-sm-6">
    <button type="button" (click)="goBack()" class="btn btn-default">Back</button>
    <div *ngIf="model" style="margin-top:20px">
        <form (ngSubmit)="onGroupSubmit()" #groupForm="ngForm" >
            <div><label>Id: {{model.id}}</label></div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       required
                       [(ngModel)]="model.name"
                       name="name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text"
                       class="form-control"
                       id="description"
                       [(ngModel)]="model.description"
                       name="description">
            </div>
            <div class="form-group">
                <input type="checkbox"
                       [(ngModel)]="model.isActive"
                       name="active">
                <label>Is Active</label>
            </div>
            <button type="submit" [disabled]="!groupForm.form.valid" class="btn btn-default">Save changes</button>
        </form>        
        <br/>
        <label style="margin-top:20px">Students</label>
     </div>
</div>
<div *ngIf="model" style="margin-top:20px">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Status</th>
                <th>
                    <button (click)="addingStudent = true"
                            class="btn btn-default"
                            type="button">
                        Add User
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="addingStudent">
                <td colspan="5">
                    <select class="form-control" [(ngModel)]="selectedUser">
                        <option *ngFor="let user of allUsers" [ngValue]="user">{{user.name}}</option>
                    </select>
                </td>
                <td>
                    <button (click)="addStudent()"
                            class="btn btn-default"
                            type="button">
                        Add
                    </button>
                </td>
            </tr>
            <tr *ngFor="let user of model.students">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td>{{user.isActive}}</td>
                <td>
                    <button (click)="showDetails(user.id)"
                            class="btn btn-default"
                            type="button">
                        Show Details
                    </button>
                </td>
                <td>
                    <button (click)="removeStudent(user.id)"
                            class="btn btn-default"
                            type="button">
                        Remove Student
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" (click)="onGroupDelete()" class="btn btn-default">Delete group</button>
</div>
