<form (ngSubmit)="onSubmit()" #groupForm="ngForm">
    <div>
        <label>Id</label>
        <input type="number"
               required
               [(ngModel)]="model.id"
               name="id">
    </div>
    <div>
        <label>Name</label>
        <input type="text"
               required
               [(ngModel)]="model.name"
               name="name">
    </div>
    <div>
        <label>Description</label>
        <input type="text"
               [(ngModel)]="model.description"
               name="description">
    </div>
    <div>
        <label>Is Active</label>
        <input type="checkbox" [(ngModel)]="model.active"
               name="active">
    </div>
    <button type="submit" [disabled]="!groupForm.form.valid">Submit</button>
    <button (click)="onCancel(); groupForm.reset()">Cancel</button>
</form>