<div class="col-sm-6">
    <button type="button" (click)="goBack()" class="btn btn-default">Back</button>
    <div *ngIf="model" style="margin-top:20px">
        <form (ngSubmit)="onGroupSubmit()" #groupForm="ngForm" >
            <div><label>Id: {{model.id}}</label></div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       required
                       [(ngModel)]="model.name"
                       name="name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text"
                       class="form-control"
                       id="description"
                       [(ngModel)]="model.description"
                       name="description">
            </div>
            <div class="form-group">
                <input type="checkbox"
                       [(ngModel)]="model.isActive"
                       name="active">
                <label>Is Active</label>
            </div>
            <button type="submit" [disabled]="!groupForm.form.valid" class="btn btn-default">Save changes</button>
        </form> 

        <table class="table table-hover" style="margin-top:20px" *ngIf="model">
            <thead>
                <tr>
                    <th style="font-size:large">Teachers</th>
                    <th>
                        <button (click)="addingTeacher = true"
                                class="btn btn-default"
                                type="button">
                            Add Teacher
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="addingTeacher">
                    <td colspan="2">
                        <select class="form-control" [ngModel]="selectedTeacher" (ngModelChange)="onTeacherAdd($event)">
                            <option *ngFor="let teacher of allTeachers" [ngValue]="teacher">
                                {{teacher.name}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr *ngFor="let teacher of model.teachers">
                    <td>{{teacher.name}}</td> 
                    <td>
                        <button (click)="showTeacherDetails(teacher.id)"
                                class="btn btn-default"
                                type="button">
                            Show Details
                        </button>
                        <button class="btn btn-default"
                                type="button"
                                (click)="removeTeacher(teacher.id)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table style="margin-top:20px" class="table table-hover">
            <thead>
                <tr>
                    <th style="font-size:large">Students</th>
                    <th>
                        <button (click)="addingStudent = true"
                                class="btn btn-default"
                                type="button">
                            Add Student
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="addingStudent">
                    <td colspan="2">
                        <select class="form-control" [ngModel]="selectedUser" (ngModelChange)="addStudent($event)">
                            <option *ngFor="let user of allUsers" [ngValue]="user">{{user.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr *ngFor="let user of model.students">
                    <td>{{user.name}}</td>
                    <td>
                        <button (click)="showStudentDetails(user.id)"
                                class="btn btn-default"
                                type="button">
                            Show Details
                        </button>
                        <button (click)="removeStudent(user.id)"
                                class="btn btn-default"
                                type="button">
                            Remove Student
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" (click)="onGroupDelete()" class="btn btn-default">Delete group</button>
    </div>
</div>

