<button type="button" (click)="goBack()" class="btn btn-default">Back</button>
<div *ngIf="model" style="margin-top:20px">
    <form (ngSubmit)="onGroupSubmit()" #groupForm="ngForm" class="col-sm-6">
        <div><label>Id: {{model.id}}</label></div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   required
                   [(ngModel)]="model.name"
                   name="name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text"
                   class="form-control"
                   id="description"
                   [(ngModel)]="model.description"
                   name="description">
        </div>
        <div class="form-group">
            <input type="checkbox"
                   [(ngModel)]="model.isActive"
                   name="active">
            <label>Is Active</label>
        </div>
        <button type="submit" [disabled]="!groupForm.form.valid" class="btn btn-default">Save changes</button>
        <button type="button" (click)="onGroupDelete()" class="btn btn-default">Delete group</button>
    </form>
</div>
