<div *ngIf="model" style="margin-top:20px">
    <form (ngSubmit)="onGroupSubmit()" #groupForm="ngForm" [serverValidator]="groupForm" [errors]="errors">
        <div *ngIf="!newGroup"><label>Id: {{model.id}}</label></div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   [(ngModel)]="model.name"
                   name="name" #name="ngModel"
                   required maxlength="25"/>
            <form-validation [model]="name" [maxMessage]="'Name cannot be longer, than 25 symbols'"></form-validation>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text"
                   class="form-control"
                   id="description"
                   [(ngModel)]="model.description"                      
                   name="description" #description="ngModel"
                   maxlength="70">
            <form-validation [model]="description" [maxMessage]="'Description cannot be longer, than 70 symbols'"></form-validation>
        </div>
        <div class="form-group">
            <input type="checkbox"
                   [(ngModel)]="model.isActive"
                   name="active">
            <label>Is Active</label>
        </div>
        <button type="submit" [disabled]="!groupForm.form.valid" class="btn btn-default">Save</button>
        <button type="button" (click)="onCancel(); groupForm.reset()" class="btn btn-default" *ngIf="newGroup">Cancel</button>
    </form> 

    <div style="margin-top:20px" *ngIf="model && !newGroup">

        <label>Teachers</label>
        <form *ngIf="addingTeacher" (ngSubmit)="onTeacherAdd()" #groupTeacherForm="ngForm">
            <div class="form-group">
                <select class="form-control"
                        [(ngModel)]="selectedTeacher"
                        required
                        #teacher="ngModel" name="teacher">
                    <option *ngFor="let teacher of allTeachers" [ngValue]="teacher">{{teacher.name}}</option>
                </select>
                <form-validation [model]="teacher"></form-validation>
            </div>
            <button class="btn btn-default" type="submit" [disabled]="!groupTeacherForm.form.valid">Add</button>
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>
                        <button (click)="addingTeacher = true"
                                class="btn btn-default"
                                type="button">
                            Add Teacher
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teacher of model.teachers">
                    <td>{{teacher.id}}</td>
                    <td>{{teacher.name}}</td>
                    <td>
                        <button (click)="showTeacherDetails(teacher.id)"
                                class="btn btn-default"
                                type="button">
                            Show Details
                        </button>
                        <button class="btn btn-default"
                                type="button"
                                (click)="removeTeacher(teacher.id)">
                            Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-top:20px" *ngIf="model && !newGroup">

        <label>Students</label>
        <form *ngIf="addingStudent" (ngSubmit)="addStudent()" #groupStudentForm="ngForm">
            <div class="form-group">
                <select class="form-control"
                        [(ngModel)]="selectedUser"
                        required
                        #student="ngModel" name="student">
                    <option *ngFor="let user of allUsers" [ngValue]="user">{{user.name}}</option>
                </select>
                <form-validation [model]="student"></form-validation>
            </div>
            <button class="btn btn-default" type="submit" [disabled]="!groupStudentForm.form.valid">Add</button>
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>
                        <button (click)="addingStudent = true"
                                class="btn btn-default"
                                type="button">
                            Add Student
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of model.students">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>
                        <button (click)="showStudentDetails(user.id)"
                                class="btn btn-default"
                                type="button">
                            Show Details
                        </button>
                        <button (click)="removeStudent(user.id)"
                                class="btn btn-default"
                                type="button">
                            Remove Student
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" (click)="onGroupDelete()" class="btn btn-default" *ngIf="!newGroup">Delete group</button>
    </div>
</div>

